body {
	background: #f2f2f3;
	font-size: 12px;
}
.navbar-default {
	background-color: #FFF;
	border: none;
}
.region-header .logo,
.region-header .name.navbar-brand {
	visibility: hidden;
}
.container > .navbar-header {
	margin: 5px 0;
}
header {
	padding-top: 20px;
}
header.navbar {
	margin-bottom: 0;
}
header.navbar-default {
	background: none;
}
header .col-sm-12 {
	padding: 0 0 0 10px;
    background: #fff;
}
.main-container {
	background-color: #FFF;
	padding-bottom: 20px;
}
.main-container .row {
	margin-left: 0;
	margin-right: 0;
	padding-bottom: 20px;
}
.page-header {
	margin-top: 20px;
}
h1,
.view-frontpage h2 {
    color: #808087;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 1px solid #808087;
}
.block.block-views h2 {
	color: #2459AA;
	text-transform: uppercase;
	font-size: 13px;
	text-decoration: none;
	margin-bottom: 0;
	margin-top: 0;
	background: url('../images/navbar.jpg') repeat-x;
	line-height: 30px;
	font-weight: 600;
}
.col-sm-6.user-not-logged {
	float: none;
	margin: 0 auto;
	background: #E9E9E9;
    padding: 20px;
    border-radius: 4px;
}
.region-sidebar-first section:first-child {
	margin-top: 20px;
}
.block.block-views .blk-icn {
	background: url('../images/plus.gif') no-repeat left center;
	margin-left: 10px;
	padding-left: 15px;
	text-decoration: none;
}
.block.block-views .blk-icn:hover {
	color: #2459AA;
}
.block.block-views .block-title.open .blk-icn {
	background: url('../images/minus.gif') no-repeat left center;
	margin-left: 5px;
	padding-left: 20px;
}
.sidebar {
	background-color: #005EAB;
	display: none;
}
.sidebar.open {
	display: block;
}
.sidebar h3 {
	color: #FFF;
    text-decoration: none;
    font-weight: normal;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 0;
}
.sidebar ul {
	background-color: #4877BA;
	padding: 5px 5px 5px 25px;
	display: none;
	margin-bottom: 0;
}
.sidebar ul.open {
	display: block;
}
.sidebar li {
	list-style: none;
	font-size: 13px;
	padding: 3px;
}
.sidebar li a{
	color: #FFF;
}
.sidebar .row-title {
	background: url('../images/plus_white.gif') no-repeat left center;
	margin-left: 10px;
	padding-left: 15px;
	text-decoration: none;
	color: #FFF;
	text-transform: uppercase;
}
.sidebar .row-title:hover {
	color: #FFF;
}
.sidebar .row-title span {
	display: inline-block;
	vertical-align: middle;
}
.sidebar .row-title.open {
	background: url('../images/minus_white.gif') no-repeat left center;
	margin-left: 5px;
	padding-left: 20px;
}
.is_active a {
	text-decoration: underline;
}
.paragraph {
	margin-bottom: 20px;
}
.paragraph .field {
	margin-bottom: 15px;
}
.nav-tabs {
	margin-bottom: 15px;
}
.temp-cust .group-left {
	width: 20%;
}
.temp-cust .group-right {
	width: 80%;
}
.cnt-top, .cnt-btm {
	display: table;
}
.cnt-top > .field--item, .cnt-btm > .field--item {
	float: left;
	padding: 0 5px;
}
.cnt-top .file>span, .cnt-btm .file>span {
	border: 0;
}
.cnt-top .file-size, .cnt-btm .file-size {
	display: none;
}
#user ul {
    float: right;
    padding: 0;
    margin: 0;
}
#user ul li {
    display: inline;
    list-style: none;
    color: #275dAc;
    font-family: arial, helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
}
.full-width .group-left {
	width: 100%;
}
.defined {
	padding-right: 20px;
    padding-left: 20px;
}
.defined span {
	color: #005dab;
    font-weight: bold;
    float: right;
}
.file--general a:before{
	content: "EPS";
}
.file--application-pdf a:before {
	content: "PDF";
}
.file--mime-image-jpeg.file--image a:before {
	content: "JPG";
}
.file--x-office-presentation a:before {
	content: "POWERPOINT";
}
.file--mime-application-zip a:before {
	content: "INDESIGN TEMPLATE ZIP";
}
.dnwn:before {
	content: "Download : ";
	font-size: 11px;
	color: #878083;
}
.dnwn.no-dwn-txt:before {
	content: "";
}
.dnwn .field--item {
	display: inline-block;
	vertical-align: middle;
}
.dnwn .field--item .file {
	font-size: 12px;
	font-weight: 400;
}
.dnwn .field--item .file a {
	text-decoration: underline;
	color: #000;
}
.dnwn .field--item .file:after {
	content: " | ";
}
.dnwn .field--item:last-child .file:after {
	content: "";
}
.tbl .field--item > .paragraph {
	display: table;
	width: 100%;
}
.tbl .field--item > .paragraph .field {
	display: table-cell;
	vertical-align: middle;
}
.tbl .paragraph .tle, .para-main-title {
	width: 60%;
	color: #878083;
	font-weight: bold;
	font-size: 11px;
}
.tbl .paragraph .fle {
	width: 40%;
}
.para-set > .field--item {
	margin-bottom: 40px;
}
.para-set > .field--item:last-child {
	margin-bottom: 0;
}
.acc-cnt > .field--item > .paragraph {
	border: 1px solid #dddddd;
    border-radius: 2px;
    margin-bottom: 0;
}
.acc-title {
	padding: 6px 15px;
	text-decoration: underline;
    font-size: 12px;
    color: #404041;
    font-weight: bold;
    background: #f6f6f6;
}
.acc-title:before {
	content: '';
    background: url(../images/right.png) no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.paragraph.open .acc-title {
	background: #fff;
}
.paragraph.open .acc-title.field {
	margin-bottom: 20px;
}
.paragraph.open .acc-title:before {
	content: '';
    background: url(../images/down.png) no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
}
.acc-cnt-set {
	padding: 0 35px;
}
.paragraph.open .acc-cnt-set {
	margin-bottom: 30px;
}
.paragraph .acc-title.field {
	margin-bottom: 0;
}
.acc-pge .para-main-title {
	border-bottom: 1px solid #878083;
	width: 100%;
	font-size: 14px;
}
.acc-pge .page-header {
	display: none;
}
.mr > .field--item {
	margin-bottom: 20px;
}
.f-lt {
	float: left;
}
.f-rt {
	float: right;
}
.page-header.lgn-page {
	margin-top: 0;
	padding-bottom: 0;
	color: #005CAB;
	text-decoration: underline;
	font-size: 14px; 
}
.form-actions .btn, .form-actions .btn-group {
	margin-bottom: 15px;
}
.usr-lgn {
	text-align: center;
	margin-bottom: 10px;
	font-size: 12px;
	color: #1264AE;
}
.usr-lgn > div {
	margin-bottom: 10px;
}
.usr-lgn > div a {
	text-decoration: underline;
}
.input-group .form-control:focus {
	z-index: 2;
}
.region-header {
		background: url('../images/header_bg_mob.png') no-repeat;
		min-height: 120px;
	}

@media screen and (min-width: 768px) {
	body {
		margin-top: 0;
	}
	.container,
	.navbar.container {
	    max-width: 928px;
	    padding: 0;
	}
	.navbar-right {
		margin-right: 0;
	}
	.navbar-header {
		float: none;
	}
	.navbar-nav > li > a {
		padding-top: 0;
		padding-bottom: 0;
	}
	.region-header {
		background: url('../images/header_bg.png') no-repeat;
		min-height: 180px;
	}
	.ds-2col-fluid > .group-left {
		padding-right: 10px;
	}
	.ds-2col-fluid > .group-right {
		padding-left: 10px;
	}
	.srch-box {
		width: 160px;
	    position: absolute;
	    right: 174px;
	    top: 50px;
	}
	.srch-box input[type="search"] {
		height: 27px;
		border-radius: 50px !important;
		padding-left: 30px;
	}
	.srch-box .input-group-btn {
		position: absolute;
	}
	.srch-box .input-group-btn .btn-primary {
		color: #A3A5A8;
		background-color: unset;
		border-color: unset;
	}
	.srch-box .input-group-btn .btn {
		border: 0;
		border-radius: 0;
	}
}

/*@media screen and (min-width: 1200px) {
	
}*/