{% extends "block--bare.html.twig" %}
{#
/**
 * @file
 * Theme override for tabs.
 *
 * @ingroup templates
 */
#}
{% block content %}
  {% if content %}
	{% if logged_in %}
    	<nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
      		{{ content }}
   		</nav>
	{% endif %}
  {% endif %}
{% endblock %}
